<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660630380757-vfjmre294glu0s6dt4l01rq7gnnrb9ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660630380757-vfjmre294glu0s6dt4l01rq7gnnrb9ki</string>
	<key>API_KEY</key>
	<string>AIzaSyCSsLnCTSXxMJqAxd9O6iVKmokvilcusro</string>
	<key>GCM_SENDER_ID</key>
	<string>660630380757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memoriafilms.memorycapsule</string>
	<key>PROJECT_ID</key>
	<string>memory-capsule-codex</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-capsule-codex.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660630380757:ios:151280ccda21ff0fdc425c</string>
</dict>
</plist>